@using System;
@using Sandbox;
@using Sandbox.UI;
@inherits Panel

@namespace ATMP.UI
@attribute [StyleSheet]

<root>
    <label class="title">How To Play</label>
    <div class="hr"></div>
    <div class="inner">
		<div class="rich-line">
			<label>@("- Hold")</label> 
			<label class="input-hint">@($"{Input.GetButtonOrigin(GameInputActions.Jump).ToUpperInvariant()}")</label>
			<label>@("to bunnyhop.")</label> 
		</div>
		<div class="rich-line">
			<label>@("- Hold")</label>
        	<label class="input-hint">@($"{Input.GetButtonOrigin(GameInputActions.Score).ToUpperInvariant()}")</label>
			<label>@("to check score.")</label>
		</div>
        <label>- Shoot the ground below you to rocket jump.</label>
    </div>
</root>

@code
{
    private RealTimeSince _sinceStart;

    public HowToPlay()
    {
        _sinceStart = 0;
    }

    public override void Tick()
    {
        SetClass("active", _sinceStart <= 10);
    }

    protected override int BuildHash()
    {
        return System.HashCode.Combine(Time.Now);
    }
}
